Reference: https://towardsdatascience.com/historical-stock-price-data-in-python-a0b6dc826836

https://medium.com/@gokhalehemal11/how-to-scrape-financial-websites-using-python-requests-and-beautifulsoup-5f436318ca9

https://github.com/akhatri24/Web-Scraping/blob/main/Moneycontrol%20Data%20Pull.py

Magic Formula Key Points:
1. Set a minimum market capitalization for your portfolio companies. This should be typically higher than $100 million.
2. Ensure you exclude any financial or utility stocks when you choose your companies.
3. Exclude American Depository Receipts (ADRs). These are stocks in foreign companies.
4. Calculate each company's earnings yield (EBIT รท Enterprise Value).
5. Calculate each company's return on capital [EBIT รท (Net Fixed Assets + Working Capital)].
6. Rank selected companies by highest earnings yields and highest return on capital.
7. Buy two to three positions each month in the top 20 to 30 companies, over the course of a year.
8. Each year, rebalance the portfolio by selling off losers one week before the year term ends. Sell off winners one week after the year mark.
9. Repeat the process each year for a minimum of five to 10 years or more.

### Magic Formula

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
from multiprocessing.dummy import Pool as ThreadPool

In [3]:
tickers = ["astrallimited", "aartiindustries", "balrampurchinimills", "bhartiairtel","bharatheavyelectricals","britanniaindustries",
           "birlasoft","chambalfertiliserschemicals","colgatepalmoliveindia","cromptongreavesconsumerelectrical",
                  "escortskubota","gmrairportsinfrastructure","hindustanaeronauticsltd","havellsindia","hdfclifeinsurancecompany","ltfinanceholdings","marutisuzukiindia",
           "maxfinancialservices","nmdc","piramalenterprises","trent","vedanta"]

In [4]:
ti = ["APT02", "AI45", "BCM", "BA08","BHE","BI", "KPI02","CFC","CPI","CGC01",
                   "E","GI27","HAL","HI01","HSL01","LFH","MS24","MI","NMD02","PH05","T04","SG"]

In [5]:
sector = {}
sector["astrallimited"] = "plastics"
sector["aartiindustries"] = "chemicals"
sector["balrampurchinimills"] = "sugar"
sector["bhartiairtel"] = "telecommunications-service"
sector["bharatheavyelectricals"] = "infrastructure-general"
sector["britanniaindustries"] = "food-processing"
sector["birlasoft"] = "computers-software-mediumsmall"
# sector["canarabank"] = 
sector["chambalfertiliserschemicals"] = "fertilisers"
sector["colgatepalmoliveindia"] = "personal-care"


sector["cromptongreavesconsumerelectrical"] = "electricals"
sector["escortskubota"] = "automobile-tractors"
sector["gmrairportsinfrastructure"] = "transport-infrastructure"
sector["hindustanaeronauticsltd"] = "diversified"
sector["havellsindia"] = "electric-equipment"
sector["hdfclifeinsurancecompany"] = "lifehealth-insurance"


sector["ltfinanceholdings"] = "finance-investments"
sector["marutisuzukiindia"] = "auto-carsjeeps"
sector["maxfinancialservices"] = "finance-investments"
sector["nmdc"] = "miningminerals"

sector["piramalenterprises"] = "finance-nbfc"
sector["trent"] = "retail"
sector["vedanta"] = "miningminerals"

In [6]:
financial_dir = {}

In [7]:
url = "https://www.moneycontrol.com/financials/{}/balance-sheetVI/{}".format("relianceindustries","RI")
headers = {"User-Agent" : "Chrome/96.0.4664.110"}
page = requests.get(url, headers=headers)
page_content = page.content

In [8]:
def balance_sheet(ticker, ti):
    balance_sheet_dict = {}
    balance_sheet = {}
    table_title = {}

    url = 'https://www.moneycontrol.com/financials/{}/consolidated-balance-sheetVI/{}'.format(ticker,ti)
    print(url)
    
    data = {"sel_year": "2018", "x": "1", "y": "1"}

#     all_dfs = []
#     for data["sel_year"] in range(2018, 2023 + 1):
#         df = pd.read_html(requests.post(url, data=data).text)[0]
#         df["Year"] = data["sel_year"]
#         all_dfs.append(df)

    df = pd.read_html(requests.post(url).text)[0]

#     df_out = pd.concat(df)
#     df_out.columns = df.iloc[0]

#     print(df_out.head(10))
    
    return df

In [10]:
url ="https://www.moneycontrol.com/financials/astrallimited/consolidated-balance-sheetVI/APT02"
df = pd.read_html(requests.post(url).text)[0]

In [10]:
# balance_sheet(tickers[0], ti[0])

In [372]:
# url ="https://www.moneycontrol.com/financials/astrallimited/consolidated-balance-sheetVI/APT02"

# for data["sel_year"] in range(2018, 2023 + 1):
#     df = pd.read_html(requests.post(url, data=data).text)[0]
#     df["Year"] = data["sel_year"]
#     all_dfs.append(df)

In [373]:
# all_dfs[1]
# Minority Interest	0.00	-0.23	-11.75	-10.68	-12.44	NaN	2018

In [374]:
# df

In [272]:
# 'https://www.moneycontrol.com/financials/{}/balance-sheetVI/{}'.format("astrallimited","APT02")

In [380]:
fin = []
count = 0
for i in range(len(tickers)):
    count = count + 1
    print(count)
    df = pd.DataFrame()
    df = balance_sheet(tickers[i], ti[i])
    df["Stock"] = tickers[i]
    fin.append(df)

1
https://www.moneycontrol.com/financials/astrallimited/consolidated-balance-sheetVI/APT02
2
https://www.moneycontrol.com/financials/aartiindustries/consolidated-balance-sheetVI/AI45
3
https://www.moneycontrol.com/financials/balrampurchinimills/consolidated-balance-sheetVI/BCM
4
https://www.moneycontrol.com/financials/bhartiairtel/consolidated-balance-sheetVI/BA08
5
https://www.moneycontrol.com/financials/bharatheavyelectricals/consolidated-balance-sheetVI/BHE
6
https://www.moneycontrol.com/financials/britanniaindustries/consolidated-balance-sheetVI/BI
7
https://www.moneycontrol.com/financials/birlasoft/consolidated-balance-sheetVI/KPI02
8
https://www.moneycontrol.com/financials/chambalfertiliserschemicals/consolidated-balance-sheetVI/CFC
9
https://www.moneycontrol.com/financials/colgatepalmoliveindia/consolidated-balance-sheetVI/CPI
10
https://www.moneycontrol.com/financials/cromptongreavesconsumerelectrical/consolidated-balance-sheetVI/CGC01
11
https://www.moneycontrol.com/financials/escortskubota/consolidated-balance-sheetVI/E
12
https://www.moneycontrol.com/financials/gmrairportsinfrastructure/consolidated-balance-sheetVI/GI27
13
https://www.moneycontrol.com/financials/hindustanaeronauticsltd/consolidated-balance-sheetVI/HAL
14
https://www.moneycontrol.com/financials/havellsindia/consolidated-balance-sheetVI/HI01
15
https://www.moneycontrol.com/financials/hdfclifeinsurancecompany/consolidated-balance-sheetVI/HSL01
16
https://www.moneycontrol.com/financials/ltfinanceholdings/consolidated-balance-sheetVI/LFH
17
https://www.moneycontrol.com/financials/marutisuzukiindia/consolidated-balance-sheetVI/MS24
18
https://www.moneycontrol.com/financials/maxfinancialservices/consolidated-balance-sheetVI/MI
19
https://www.moneycontrol.com/financials/nmdc/consolidated-balance-sheetVI/NMD02
20
https://www.moneycontrol.com/financials/piramalenterprises/consolidated-balance-sheetVI/PH05
21
https://www.moneycontrol.com/financials/trent/consolidated-balance-sheetVI/T04
22
https://www.moneycontrol.com/financials/vedanta/consolidated-balance-sheetVI/SG

In [537]:
# bs = pd.concat(fin)
# bs.to_csv("bs_moneycontrol_change_code.csv")
# bs.to_csv("bs_moneycontrol.csv")

In [11]:
# bs = pd.read_csv("bs_moneycontrol.csv")
bs = pd.read_csv("bs_moneycontrol_change_code.csv")

In [384]:
def PnL(ticker, ti):
    balance_sheet_dict = {}
    balance_sheet = {}
    table_title = {}

    url = 'https://www.moneycontrol.com/financials/{}/consolidated-profit-lossVI/{}'.format(ticker,ti)
    print(url)
    
#     data = {"sel_year": "2018", "x": "1", "y": "1"}

#     all_dfs = []
#     for data["sel_year"] in range(2018, 2023 + 1):
#         df = pd.read_html(requests.post(url, data=data).text)[0]
#         df["Year"] = data["sel_year"]
#         all_dfs.append(df)
    df = pd.read_html(requests.post(url).text)[0]

#     df_out = pd.concat(all_dfs)
#     df_out.columns = df.iloc[0]
    
#     print(df_out.head(10))
    
    return df

In [385]:
# url = "https://www.moneycontrol.com/financials/aartiindustries/consolidated-profit-lossVI/AI45"
# data = {"sel_year": "2018", "x": "1", "y": "1"}

# all_dfs = []
# for data["sel_year"] in range(2018, 2023 + 1):
#     df = pd.read_html(requests.post(url, data=data).text)[0]
#     df["Year"] = data["sel_year"]
#     all_dfs.append(df)

In [386]:
# pd.concat(all_dfs)

In [387]:
fin = []
count = 0
for i in range(len(tickers)):
    count = count + 1
    print(count, tickers[i])
    df = pd.DataFrame()
    df = PnL(tickers[i], ti[i])
    df["Stock"] = tickers[i]
    fin.append(df)

1 astrallimited
https://www.moneycontrol.com/financials/astrallimited/consolidated-profit-lossVI/APT02
2 aartiindustries
https://www.moneycontrol.com/financials/aartiindustries/consolidated-profit-lossVI/AI45
3 balrampurchinimills
https://www.moneycontrol.com/financials/balrampurchinimills/consolidated-profit-lossVI/BCM
4 bhartiairtel
https://www.moneycontrol.com/financials/bhartiairtel/consolidated-profit-lossVI/BA08
5 bharatheavyelectricals
https://www.moneycontrol.com/financials/bharatheavyelectricals/consolidated-profit-lossVI/BHE
6 britanniaindustries
https://www.moneycontrol.com/financials/britanniaindustries/consolidated-profit-lossVI/BI
7 birlasoft
https://www.moneycontrol.com/financials/birlasoft/consolidated-profit-lossVI/KPI02
8 chambalfertiliserschemicals
https://www.moneycontrol.com/financials/chambalfertiliserschemicals/consolidated-profit-lossVI/CFC
9 colgatepalmoliveindia
https://www.moneycontrol.com/financials/colgatepalmoliveindia/consolidated-profit-lossVI/CPI
10 cromptongreavesconsumerelectrical
https://www.moneycontrol.com/financials/cromptongreavesconsumerelectrical/consolidated-profit-lossVI/CGC01
11 escortskubota
https://www.moneycontrol.com/financials/escortskubota/consolidated-profit-lossVI/E
12 gmrairportsinfrastructure
https://www.moneycontrol.com/financials/gmrairportsinfrastructure/consolidated-profit-lossVI/GI27
13 hindustanaeronauticsltd
https://www.moneycontrol.com/financials/hindustanaeronauticsltd/consolidated-profit-lossVI/HAL
14 havellsindia
https://www.moneycontrol.com/financials/havellsindia/consolidated-profit-lossVI/HI01
15 hdfclifeinsurancecompany
https://www.moneycontrol.com/financials/hdfclifeinsurancecompany/consolidated-profit-lossVI/HSL01
16 ltfinanceholdings
https://www.moneycontrol.com/financials/ltfinanceholdings/consolidated-profit-lossVI/LFH
17 marutisuzukiindia
https://www.moneycontrol.com/financials/marutisuzukiindia/consolidated-profit-lossVI/MS24
18 maxfinancialservices
https://www.moneycontrol.com/financials/maxfinancialservices/consolidated-profit-lossVI/MI
19 nmdc
https://www.moneycontrol.com/financials/nmdc/consolidated-profit-lossVI/NMD02
20 piramalenterprises
https://www.moneycontrol.com/financials/piramalenterprises/consolidated-profit-lossVI/PH05
21 trent
https://www.moneycontrol.com/financials/trent/consolidated-profit-lossVI/T04
22 vedanta
https://www.moneycontrol.com/financials/vedanta/consolidated-profit-lossVI/SG

In [752]:
pl = pd.concat(fin)
pl.to_csv("pnl_moneycontrol_change_code.csv")
# pl.to_csv("pnl_moneycontrol.csv")
pl

In [12]:
# pl = pd.read_csv("pnl_moneycontrol.csv")
pl = pd.read_csv("pnl_moneycontrol_change_code.csv")

In [821]:
def inc_statement(ticker, ti):
    balance_sheet_dict = {}
    balance_sheet = {}
    table_title = {}

    url = 'https://www.moneycontrol.com/financials/{}/results/consolidated-yearly/{}'.format(ticker,ti)
#     url = 'https://www.moneycontrol.com/financials/{}/results/consolidated-yearly/yearly/{}'.format(ticker,ti)

    print(url)
    
#     data = {"sel_year": "2018", "x": "1", "y": "1"}

#     all_dfs = []
#     for data["sel_year"] in range(2018, 2023 + 1):
#         df = pd.read_html(requests.post(url, data=data).text)[0]
#         df["Year"] = data["sel_year"]
#         all_dfs.append(df)

#     df_out = pd.concat(all_dfs)
    df = pd.read_html(requests.post(url).text)[0]

#     df_out.columns = df.iloc[0]

#     print(df_out.head(10))
    
    return df

In [822]:
# "https://www.moneycontrol.com/financials/{}/results/consolidated-yearly/yearly/{}".format("astrallimited","APT02")

In [823]:
fin = []
count = 0
for i in range(len(tickers)):
    count = count + 1
    print(count, tickers[i])
    df = pd.DataFrame()
    df = inc_statement(tickers[i], ti[i])
    df["Stock"] = tickers[i]
    fin.append(df)

1 astrallimited
https://www.moneycontrol.com/financials/astrallimited/results/consolidated-yearly/APT02
2 aartiindustries
https://www.moneycontrol.com/financials/aartiindustries/results/consolidated-yearly/AI45
3 balrampurchinimills
https://www.moneycontrol.com/financials/balrampurchinimills/results/consolidated-yearly/BCM
4 bhartiairtel
https://www.moneycontrol.com/financials/bhartiairtel/results/consolidated-yearly/BA08
5 bharatheavyelectricals
https://www.moneycontrol.com/financials/bharatheavyelectricals/results/consolidated-yearly/BHE
6 britanniaindustries
https://www.moneycontrol.com/financials/britanniaindustries/results/consolidated-yearly/BI
7 birlasoft
https://www.moneycontrol.com/financials/birlasoft/results/consolidated-yearly/KPI02
8 chambalfertiliserschemicals
https://www.moneycontrol.com/financials/chambalfertiliserschemicals/results/consolidated-yearly/CFC
9 colgatepalmoliveindia
https://www.moneycontrol.com/financials/colgatepalmoliveindia/results/consolidated-yearly/CPI
10 cromptongreavesconsumerelectrical
https://www.moneycontrol.com/financials/cromptongreavesconsumerelectrical/results/consolidated-yearly/CGC01
11 escortskubota
https://www.moneycontrol.com/financials/escortskubota/results/consolidated-yearly/E
12 gmrairportsinfrastructure
https://www.moneycontrol.com/financials/gmrairportsinfrastructure/results/consolidated-yearly/GI27
13 hindustanaeronauticsltd
https://www.moneycontrol.com/financials/hindustanaeronauticsltd/results/consolidated-yearly/HAL
14 havellsindia
https://www.moneycontrol.com/financials/havellsindia/results/consolidated-yearly/HI01
15 hdfclifeinsurancecompany
https://www.moneycontrol.com/financials/hdfclifeinsurancecompany/results/consolidated-yearly/HSL01
16 ltfinanceholdings
https://www.moneycontrol.com/financials/ltfinanceholdings/results/consolidated-yearly/LFH
17 marutisuzukiindia
https://www.moneycontrol.com/financials/marutisuzukiindia/results/consolidated-yearly/MS24
18 maxfinancialservices
https://www.moneycontrol.com/financials/maxfinancialservices/results/consolidated-yearly/MI
19 nmdc
https://www.moneycontrol.com/financials/nmdc/results/consolidated-yearly/NMD02
20 piramalenterprises
https://www.moneycontrol.com/financials/piramalenterprises/results/consolidated-yearly/PH05
21 trent
https://www.moneycontrol.com/financials/trent/results/consolidated-yearly/T04
22 vedanta
https://www.moneycontrol.com/financials/vedanta/results/consolidated-yearly/SG

In [824]:
incs.shape

(1100, 9)

In [390]:
incs.head()

,Attribute,Mar '23,Mar '22,Mar '21,Mar '20,Mar '19,Blank,Year,Stock
0,Yearly Results of Astral Limited (in Rs. Cr.),Mar '23,Mar '22,Mar '21,Mar '20,Mar '19,NaN,2018,astrallimited
1,Net Sales/Income from operations,4611.60,3443.30,2486.30,2042.80,1915.71,NaN,2018,astrallimited
2,Other Operating Income,--,--,--,--,--,NaN,2018,astrallimited
3,Total Income From Operations,4611.60,3443.30,2486.30,2042.80,1915.71,NaN,2018,astrallimited
4,EXPENDITURE,NaN,NaN,NaN,NaN,NaN,NaN,2018,astrallimited

In [391]:
incs.shape

(6600, 9)

In [825]:
incs = pd.concat(fin)

# incs.to_csv("incs_moneycontrol.csv")

incs.to_csv("incs_moneycontrol_change_code.csv")

# incs.to_csv("incs_moneycontrol.csv")

In [13]:
# incs = pd.read_csv("incs_moneycontrol.csv")
incs = pd.read_csv("incs_moneycontrol_change_code.csv")

In [827]:
def cash_flow(ticker, ti):
    balance_sheet_dict = {}
    balance_sheet = {}
    table_title = {}

    url = 'https://www.moneycontrol.com/financials/{}/consolidated-cash-flowVI/{}'.format(ticker,ti)
    print(url)
#     data = {"sel_year": "2018", "x": "1", "y": "1"}

#     all_dfs = []
#     for data["sel_year"] in range(2018, 2023 + 1):
#         df = pd.read_html(requests.post(url, data=data).text)[0]
#         df["Year"] = data["sel_year"]
#         all_dfs.append(df)

#     df_out = pd.concat(all_dfs)
    df = pd.read_html(requests.post(url).text)[0]

#     df_out.columns = df.iloc[0]

#     print(df_out.head(10))
    
    return df

In [828]:
fin = []
count = 0
for i in range(len(tickers)):
    count = count + 1
    print(count, tickers[i])
    df = pd.DataFrame()
    df = cash_flow(tickers[i], ti[i])
    df["Stock"] = tickers[i]
    fin.append(df)

1 astrallimited
https://www.moneycontrol.com/financials/astrallimited/consolidated-cash-flowVI/APT02
2 aartiindustries
https://www.moneycontrol.com/financials/aartiindustries/consolidated-cash-flowVI/AI45
3 balrampurchinimills
https://www.moneycontrol.com/financials/balrampurchinimills/consolidated-cash-flowVI/BCM

KeyboardInterrupt:

In [ ]:
cfs.shape

In [ ]:
cfs.shape

In [409]:
cfs = pd.concat(fin)
cfs.to_csv("cfs_moneycontrol_change_code.csv")

# cfs.to_csv("cfs_moneycontrol.csv")

In [14]:

# cfs = pd.read_csv("cfs_moneycontrol.csv")
cfs = pd.read_csv("cfs_moneycontrol_change_code.csv")

In [65]:
def stock_overview(sector,ticker, ti):
    balance_sheet_dict = {}
    balance_sheet = {}
    table_title = {}

    url = 'https://www.moneycontrol.com/india/stockpricequote/{}/{}/{}'.format(sector[ticker],ticker,ti)
    print(url)
    
    data = {"sel_year": "2018", "x": "1", "y": "1"}

    all_dfs = []
    for i in range(2,6):
        df = pd.read_html(requests.post(url, data=data).text)[i]
        all_dfs.append(df)
      
    df_out = pd.concat(all_dfs)
    df_out.columns = ["Value","Num"]       

    
    return df_out

In [66]:
fin = []
count = 0
for i in range(len(tickers)):
    count = count + 1
    print(count, tickers[i])
    df = pd.DataFrame()
    df = stock_overview(sector,tickers[i], ti[i])
    df["Stock"] = tickers[i]
    fin.append(df)

1 astrallimited
https://www.moneycontrol.com/india/stockpricequote/plastics/astrallimited/APT02
2 aartiindustries
https://www.moneycontrol.com/india/stockpricequote/chemicals/aartiindustries/AI45
3 balrampurchinimills
https://www.moneycontrol.com/india/stockpricequote/sugar/balrampurchinimills/BCM
4 bhartiairtel
https://www.moneycontrol.com/india/stockpricequote/telecommunications-service/bhartiairtel/BA08
5 bharatheavyelectricals
https://www.moneycontrol.com/india/stockpricequote/infrastructure-general/bharatheavyelectricals/BHE
6 britanniaindustries
https://www.moneycontrol.com/india/stockpricequote/food-processing/britanniaindustries/BI
7 birlasoft
https://www.moneycontrol.com/india/stockpricequote/computers-software-mediumsmall/birlasoft/KPI02
8 chambalfertiliserschemicals
https://www.moneycontrol.com/india/stockpricequote/fertilisers/chambalfertiliserschemicals/CFC
9 colgatepalmoliveindia
https://www.moneycontrol.com/india/stockpricequote/personal-care/colgatepalmoliveindia/CPI
10 cromptongreavesconsumerelectrical
https://www.moneycontrol.com/india/stockpricequote/electricals/cromptongreavesconsumerelectrical/CGC01
11 escortskubota
https://www.moneycontrol.com/india/stockpricequote/automobile-tractors/escortskubota/E
12 gmrairportsinfrastructure
https://www.moneycontrol.com/india/stockpricequote/transport-infrastructure/gmrairportsinfrastructure/GI27
13 hindustanaeronauticsltd
https://www.moneycontrol.com/india/stockpricequote/diversified/hindustanaeronauticsltd/HAL
14 havellsindia
https://www.moneycontrol.com/india/stockpricequote/electric-equipment/havellsindia/HI01
15 hdfclifeinsurancecompany
https://www.moneycontrol.com/india/stockpricequote/lifehealth-insurance/hdfclifeinsurancecompany/HSL01
16 ltfinanceholdings
https://www.moneycontrol.com/india/stockpricequote/finance-investments/ltfinanceholdings/LFH
17 marutisuzukiindia
https://www.moneycontrol.com/india/stockpricequote/auto-carsjeeps/marutisuzukiindia/MS24
18 maxfinancialservices
https://www.moneycontrol.com/india/stockpricequote/finance-investments/maxfinancialservices/MI
19 nmdc
https://www.moneycontrol.com/india/stockpricequote/miningminerals/nmdc/NMD02
20 piramalenterprises
https://www.moneycontrol.com/india/stockpricequote/finance-nbfc/piramalenterprises/PH05
21 trent
https://www.moneycontrol.com/india/stockpricequote/retail/trent/T04
22 vedanta
https://www.moneycontrol.com/india/stockpricequote/miningminerals/vedanta/SG

In [67]:
gen_stock = pd.concat(fin)
gen_stock.to_csv("gen_moneycontrol.csv")

In [15]:
gen_stock = pd.read_csv("gen_moneycontrol.csv")

#### Post-Processing

In [545]:
gen_stock.head()

   Unnamed: 0           Value       Num          Stock
0           0            Open    1942.0  astrallimited
1           1  Previous Close   1954.05  astrallimited
2           2          Volume  780141.0  astrallimited
3           3    Value (Lacs)  14909.27  astrallimited
4           4         i  VWAP   1925.48  astrallimited

In [546]:
 cfs.head()

,Unnamed: 0,0,1,2,3,4,5,6,Stock
0,0,Cash Flow of Astral Limited (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19,NaN,astrallimited
1,1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN,astrallimited
2,2,Net Profit/Loss Before Extraordinary Items And...,615.20,648.50,533.00,306.10,283.42,NaN,astrallimited
3,3,Net CashFlow From Operating Activities,556.90,543.10,664.10,405.40,341.98,NaN,astrallimited
4,4,Net Cash Used In Investing Activities,-479.70,71.50,-454.10,-317.70,-293.40,NaN,astrallimited

In [547]:
incs.head()

,Unnamed: 0,0,1,2,3,4,5,6,Stock
0,0,Yearly Results of Astral Limited (in Rs. Cr.),Mar '23,Mar '22,Mar '21,Mar '20,Mar '19,NaN,astrallimited
1,1,Net Sales/Income from operations,4611.60,3443.30,2486.30,2042.80,1915.71,NaN,astrallimited
2,2,Other Operating Income,--,--,--,--,--,NaN,astrallimited
3,3,Total Income From Operations,4611.60,3443.30,2486.30,2042.80,1915.71,NaN,astrallimited
4,4,EXPENDITURE,NaN,NaN,NaN,NaN,NaN,NaN,astrallimited

In [548]:
pl.head()

,Unnamed: 0,0,1,2,3,4,5,6,Stock
0,0,Profit & Loss account of Astral Limited (in Rs...,Mar 23,Mar 22,Mar 21,Mar 20,Mar 19,NaN,astrallimited
1,1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN,astrallimited
2,2,INCOME,NaN,NaN,NaN,NaN,NaN,NaN,astrallimited
3,3,Revenue From Operations [Gross],5145.10,4383.90,3169.90,2571.40,2501.26,NaN,astrallimited
4,4,Less: Excise/Sevice Tax/Other Levies,0.00,0.00,0.00,0.00,0.00,NaN,astrallimited

In [549]:
bs.head()

,Unnamed: 0,0,1,2,3,4,5,6,Stock
0,0,Balance Sheet of Astral Limited (in Rs. Cr.),Mar 23,Mar 22,Mar 21,Mar 20,Mar 19,NaN,astrallimited
1,1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN,astrallimited
2,2,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,astrallimited
3,3,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,astrallimited
4,4,Equity Share Capital,26.90,20.10,20.10,15.10,11.98,NaN,astrallimited

In [335]:
# a = bs[bs["Stock"] == "astrallimited"]
# a[a["Attribute"] == "Total Assets"]

In [156]:
bs.columns[0]

'Unnamed: 0'

In [18]:
def rename_col(df):
#     df.columns = df.iloc[0]
    df = df.drop(df.columns[0], axis=1)

    df.columns = ["Attribute", "Mar '23", "Mar '22", "Mar '21","Mar '20","Mar '19", "Blank", "Stock"]
    df = df[2:]
    return df

In [19]:
bs_rename = rename_col(bs)

In [20]:
# pl_rename[pl_rename["Attribute"] == "Other Income"].head()

In [21]:
# incs_rename[incs_rename["Attribute"] == "Other Income"].head()

In [22]:
pl_rename = rename_col(pl)

In [23]:
cfs_rename = rename_col(cfs)

In [24]:
incs_rename =rename_col(incs)

In [25]:
financial_fin = pd.concat([bs_rename, pl_rename, cfs_rename, incs_rename])

In [75]:
pl_rename_stock = pl_rename[pl_rename["Stock"] == "astrallimited"]
pl_rename_stock[pl_rename_stock["Attribute"] == "Minority Interest"]

,Attribute,Mar '23,Mar '22,Mar '21,Mar '20,Mar '19,Blank,Stock
31,Minority Interest,-15.90,-6.60,-3.80,-1.70,-1.53,NaN,astrallimited

In [76]:
incs_rename_stock = incs_rename[incs_rename["Stock"] == "astrallimited"]
incs_rename_stock[incs_rename_stock["Attribute"] == "Minority Interest"]

,Attribute,Mar '23,Mar '22,Mar '21,Mar '20,Mar '19,Blank,Stock
29,Minority Interest,-15.90,-6.60,-3.80,-1.70,-1.53,NaN,astrallimited

In [26]:
# financial_fin = financial_fin.drop(["Blank","Year"], axis = 1)

In [27]:
financial_fin.shape

(3468, 8)

In [29]:
# financial_fin[financial_fin.duplicated()]["Stock"] == "astrallimited"

In [418]:
financial_fin = financial_fin.drop_duplicates()

In [419]:
financial_fin.shape

(3324, 8)

In [81]:
financial_fin["Attribute"].unique()

array(['EQUITIES AND LIABILITIES', "SHAREHOLDER'S FUNDS",
       'Equity Share Capital', 'Total Share Capital',
       'Reserves and Surplus', 'Total Reserves and Surplus',
       'Total Shareholders Funds', 'Minority Interest',
       'NON-CURRENT LIABILITIES', 'Long Term Borrowings',
       'Deferred Tax Liabilities [Net]', 'Other Long Term Liabilities',
       'Long Term Provisions', 'Total Non-Current Liabilities',
       'CURRENT LIABILITIES', 'Short Term Borrowings', 'Trade Payables',
       'Other Current Liabilities', 'Short Term Provisions',
       'Total Current Liabilities', 'Total Capital And Liabilities',
       'ASSETS', 'NON-CURRENT ASSETS', 'Tangible Assets',
       'Intangible Assets', 'Capital Work-In-Progress', 'Fixed Assets',
       'Non-Current Investments', 'Deferred Tax Assets [Net]',
       'Long Term Loans And Advances', 'Other Non-Current Assets',
       'Total Non-Current Assets', 'CURRENT ASSETS',
       'Current Investments', 'Inventories', 'Trade Receivables',
       'Cash And Cash Equivalents', 'Short Term Loans And Advances',
       'OtherCurrentAssets', 'Total Current Assets', 'Total Assets',
       'OTHER ADDITIONAL INFORMATION',
       'CONTINGENT LIABILITIES, COMMITMENTS', 'Contingent Liabilities',
       'BONUS DETAILS', 'Bonus Equity Share Capital',
       'NON-CURRENT INVESTMENTS',
       'Non-Current Investments Quoted Market Value',
       'Non-Current Investments Unquoted Book Value',
       'CURRENT INVESTMENTS', 'Current Investments Quoted Market Value',
       'Current Investments Unquoted Book Value',
       'Balance Sheet of Aarti Industries (in Rs. Cr.)', nan,
       'Balance Sheet of Balrampur Chini Mills (in Rs. Cr.)',
       'Balance Sheet of Bharti Airtel (in Rs. Cr.)',
       'Balance Sheet of Bharat Heavy Electricals (in Rs. Cr.)',
       'Balance Sheet of Britannia Industries (in Rs. Cr.)',
       'Balance Sheet of Birlasoft (in Rs. Cr.)',
       'Balance Sheet of Chambal Fertilisers and Chemicals (in Rs. Cr.)',
       'Balance Sheet of Colgate Palmolive (India) (in Rs. Cr.)',
       'Balance Sheet of Crompton Greaves Consumer Electrical (in Rs. Cr.)',
       'Balance Sheet of Escorts Kubota (in Rs. Cr.)',
       'Balance Sheet of GMR Airports Infrastructure (in Rs. Cr.)',
       'Balance Sheet of Hindustan Aeronautics Ltd. (in Rs. Cr.)',
       'Balance Sheet of Havells India (in Rs. Cr.)',
       'Balance Sheet of HDFC Life Insurance Company (in Rs. Cr.)',
       'Balance Sheet of L&T Finance Holdings (in Rs. Cr.)',
       'Balance Sheet of Maruti Suzuki India (in Rs. Cr.)',
       'Balance Sheet of Max Financial Services (in Rs. Cr.)',
       'Balance Sheet of NMDC (in Rs. Cr.)',
       'Balance Sheet of Piramal Enterprises (in Rs. Cr.)',
       'Balance Sheet of Trent (in Rs. Cr.)',
       'Balance Sheet of Vedanta (in Rs. Cr.)', 'INCOME',
       'Revenue From Operations [Gross]',
       'Less: Excise/Sevice Tax/Other Levies',
       'Revenue From Operations [Net]', 'Total Operating Revenues',
       'Other Income', 'Total Revenue', 'EXPENSES',
       'Cost Of Materials Consumed', 'Purchase Of Stock-In Trade',
       'Operating And Direct Expenses',
       'Changes In Inventories Of FGWIP And Stock In Trade',
       'Employee Benefit Expenses', 'Finance Costs',
       'Depreciation And Amortisation Expenses', 'Other Expenses',
       'Total Expenses',
       'Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax',
       'Exceptional Items', 'Profit/Loss Before Tax',
       'Tax Expenses-Continued Operations', 'Current Tax',
       'Less: MAT Credit Entitlement', 'Deferred Tax',
       'Other Direct Taxes', 'Total Tax Expenses',
       'Profit/Loss After Tax And Before ExtraOrdinary Items',
       'Profit/Loss From Continuing Operations',
       'Profit/Loss For The Period',
       'Consolidated Profit/Loss After MI And Associates',
       'EARNINGS PER SHARE', 'Basic EPS (Rs.)', 'Diluted EPS (Rs.)',
       'DIVIDEND AND DIVIDEND PERCENTAGE', 'Equity Share Dividend',
       'Tax On Dividend',
       'Profit & Loss account of Aarti Industries (in Rs. Cr.)',
       'Profit & Loss account of Balrampur Chini Mills (in Rs. Cr.)',
       'Profit & Loss account of Bharti Airtel (in Rs. Cr.)',
       'Profit & Loss account of Bharat Heavy Electricals (in Rs. Cr.)',
       'Profit & Loss account of Britannia Industries (in Rs. Cr.)',
       'Profit & Loss account of Birlasoft (in Rs. Cr.)',
       'Profit & Loss account of Chambal Fertilisers and Chemicals (in Rs. Cr.)',
       'Profit & Loss account of Colgate Palmolive (India) (in Rs. Cr.)',
       'Profit & Loss account of Crompton Greaves Consumer Electrical (in Rs. Cr.)',
       'Profit & Loss account of Escorts Kubota (in Rs. Cr.)',
       'Profit & Loss account of GMR Airports Infrastructure (in Rs. Cr.)',
       'Profit & Loss account of Hindustan Aeronautics Ltd. (in Rs. Cr.)',
       'Profit & Loss account of Havells India (in Rs. Cr.)',
       'Profit & Loss account of HDFC Life Insurance Company (in Rs. Cr.)',
       'Profit & Loss account of L&T Finance Holdings (in Rs. Cr.)',
       'Profit & Loss account of Maruti Suzuki India (in Rs. Cr.)',
       'Profit & Loss account of Max Financial Services (in Rs. Cr.)',
       'Profit & Loss account of NMDC (in Rs. Cr.)',
       'Profit & Loss account of Piramal Enterprises (in Rs. Cr.)',
       'Profit & Loss account of Trent (in Rs. Cr.)',
       'Profit & Loss account of Vedanta (in Rs. Cr.)',
       'Net Profit/Loss Before Extraordinary Items And Tax',
       'Net CashFlow From Operating Activities',
       'Net Cash Used In Investing Activities',
       'Net Cash Used From Financing Activities',
       'Foreign Exchange Gains / Losses',
       'Adjustments On Amalgamation Merger Demerger Others',
       'Net Inc/Dec In Cash And Cash Equivalents',
       'Cash And Cash Equivalents Begin of Year',
       'Cash And Cash Equivalents End Of Year',
       'Cash Flow of Aarti Industries (in Rs. Cr.)',
       'Cash Flow of Balrampur Chini Mills (in Rs. Cr.)',
       'Cash Flow of Bharti Airtel (in Rs. Cr.)',
       'Cash Flow of Bharat Heavy Electricals (in Rs. Cr.)',
       'Cash Flow of Britannia Industries (in Rs. Cr.)',
       'Cash Flow of Birlasoft (in Rs. Cr.)',
       'Cash Flow of Chambal Fertilisers and Chemicals (in Rs. Cr.)',
       'Cash Flow of Colgate Palmolive (India) (in Rs. Cr.)',
       'Cash Flow of Crompton Greaves Consumer Electrical (in Rs. Cr.)',
       'Cash Flow of Escorts Kubota (in Rs. Cr.)',
       'Cash Flow of GMR Airports Infrastructure (in Rs. Cr.)',
       'Cash Flow of Hindustan Aeronautics Ltd. (in Rs. Cr.)',
       'Cash Flow of Havells India (in Rs. Cr.)',
       'Cash Flow of HDFC Life Insurance Company (in Rs. Cr.)',
       'Cash Flow of L&T Finance Holdings (in Rs. Cr.)',
       'Cash Flow of Maruti Suzuki India (in Rs. Cr.)',
       'Cash Flow of Max Financial Services (in Rs. Cr.)',
       'Cash Flow of NMDC (in Rs. Cr.)',
       'Cash Flow of Piramal Enterprises (in Rs. Cr.)',
       'Cash Flow of Trent (in Rs. Cr.)',
       'Cash Flow of Vedanta (in Rs. Cr.)', 'Other Operating Income',
       'Total Income From Operations', 'EXPENDITURE',
       'Consumption of Raw Materials', 'Purchase of Traded Goods',
       'Increase/Decrease in Stocks', 'Power & Fuel', 'Employees Cost',
       'Depreciation', 'Excise Duty', 'Admin. And Selling Expenses',
       'R & D Expenses', 'Provisions And Contingencies',
       'Exp. Capitalised',
       'P/L Before Other Inc., Int., Excpt. Items & Tax',
       'P/L Before Int., Excpt. Items & Tax', 'Interest',
       'P/L Before Exceptional Items & Tax', 'P/L Before Tax', 'Tax',
       'P/L After Tax from Ordinary Activities', 'Prior Year Adjustments',
       'Extra Ordinary Items', 'Net Profit/(Loss) For the Period',
       'Share Of P/L Of Associates', 'Net P/L After M.I & Associates',
       'Reserves Excluding Revaluation Reserves',
       'Equity Dividend Rate (%)', 'EPS Before Extra Ordinary',
       'Basic EPS', 'Diluted EPS', 'EPS After Extra Ordinary',
       'Basic EPS.', 'Diluted EPS.', 'Public Share Holding',
       'No Of Shares (Crores)', 'Share Holding (%)',
       'Promoters and Promoter Group Shareholding',
       'a) Pledged/Encumbered', '- Number of shares (Crores)',
       '- Per. of shares (as a % of the total sh. of prom. and promoter group)',
       '- Per. of shares (as a % of the total Share Cap. of the company)',
       'b) Non-encumbered', '- Number of shares (Crores).',
       '- Per. of shares (as a % of the total sh. of prom. and promoter group).',
       '- Per. of shares (as a % of the total Share Cap. of the company).',
       'Yearly Results of Aarti Industries (in Rs. Cr.)',
       'Net Sales/Income from operations',
       'Yearly Results of Balrampur Chini Mills (in Rs. Cr.)',
       'Yearly Results of Bharti Airtel (in Rs. Cr.)',
       'Yearly Results of Bharat Heavy Electricals (in Rs. Cr.)',
       'Yearly Results of Britannia Industries (in Rs. Cr.)',
       'Yearly Results of Birlasoft (in Rs. Cr.)',
       'Yearly Results of Chambal Fertilisers and Chemicals (in Rs. Cr.)',
       'Yearly Results of Colgate Palmolive (India) (in Rs. Cr.)',
       'Yearly Results of Crompton Greaves Consumer Electrical (in Rs. Cr.)',
       'Yearly Results of Escorts Kubota (in Rs. Cr.)',
       'Yearly Results of GMR Airports Infrastructure (in Rs. Cr.)',
       'Yearly Results of Hindustan Aeronautics Ltd. (in Rs. Cr.)',
       'Yearly Results of Havells India (in Rs. Cr.)',
       'Yearly Results of HDFC Life Insurance Company (in Rs. Cr.)',
       'Yearly Results of L&T Finance Holdings (in Rs. Cr.)',
       'Yearly Results of Maruti Suzuki India (in Rs. Cr.)',
       'Yearly Results of Max Financial Services (in Rs. Cr.)',
       'Yearly Results of NMDC (in Rs. Cr.)',
       'Yearly Results of Piramal Enterprises (in Rs. Cr.)',
       'Yearly Results of Trent (in Rs. Cr.)',
       'Yearly Results of Vedanta (in Rs. Cr.)'], dtype=object)

In [82]:
gen_stock["Value"].unique()

array(['Open', 'Previous Close', 'Volume', 'Value (Lacs)', 'i  VWAP',
       'Beta', 'High', 'Low', 'UC Limit', 'LC Limit', '52 Week High',
       '52 Week Low', 'TTM EPS See historical trend',
       'TTM PE See historical trend', 'P/B See historical trend',
       'Face Value', 'Mkt Cap (Rs. Cr.)', 'Dividend Yield',
       '20D Avg Volume', '20D Avg Delivery(%)', 'Sector PE',
       'Book Value Per Share'], dtype=object)

In [83]:
financial_fin_stock = financial_fin[financial_fin["Stock"] == "astrallimited"]
financial_fin_stock[financial_fin_stock["Attribute"] == "Minority Interest"]

,Attribute,Mar '23,Mar '22,Mar '21,Mar '20,Mar '19,Blank,Stock
9,Minority Interest,247.70,27.80,21.20,16.80,15.02,NaN,astrallimited
31,Minority Interest,-15.90,-6.60,-3.80,-1.70,-1.53,NaN,astrallimited
29,Minority Interest,-15.90,-6.60,-3.80,-1.70,-1.53,NaN,astrallimited

In [84]:
def operation(financial_fin, st, year):
    financial_fin_st = financial_fin[financial_fin["Stock"] == st]
    financial_fin_st_T = financial_fin_st.T
    financial_fin_st_T.columns = financial_fin_st_T.iloc[0]
    financial_fin_st_T = financial_fin_st_T[1:-3]
    financial_fin_st_T["Stock"] = st
    financial_fin_st_T = financial_fin_st_T.reset_index()
    

    if year == "2023":
        financial_fin_st_T = financial_fin_st_T.iloc[0:1]
        financial_fin_st_T["Year"] = "2023"
    if year == "2022":
        financial_fin_st_T = financial_fin_st_T.iloc[1:2]
        financial_fin_st_T["Year"] = "2022"
    if year == "2021":
        financial_fin_st_T = financial_fin_st_T.iloc[2:3]
        financial_fin_st_T["Year"] = "2021"

    if year == "2020":
        financial_fin_st_T = financial_fin_st_T.iloc[3:4]
        financial_fin_st_T["Year"] = "2020"
    financial_fin_st_T = financial_fin_st_T[[ "Year","Stock","Total Assets", "Minority Interest","Net CashFlow From Operating Activities", "Total Shareholders Funds","Total Current Assets","Cash And Cash Equivalents","Current Investments","Total Current Liabilities"
                    ,"Long Term Borrowings","Short Term Borrowings","Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax","Finance Costs","Other Income" ,"Net CashFlow From Operating Activities", "Net Cash Used In Investing Activities"]]
#                                              , "Common Stock Equity"]]



#     financial_fin_st_T["New_Index"] = range(count,count+len(financial_fin_st_T))
#     financial_fin_st_T.set_index('New_Index', inplace=True)
    
    return financial_fin_st_T

In [85]:
operation(financial_fin, "astrallimited","2023")

Attribute,Year,Stock,Total Assets,Minority Interest,Minority Interest,Minority Interest,Net CashFlow From Operating Activities,Total Shareholders Funds,Total Current Assets,Cash And Cash Equivalents,Current Investments,Total Current Liabilities,Long Term Borrowings,Short Term Borrowings,"Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax",Finance Costs,Other Income,Other Income,Net CashFlow From Operating Activities,Net Cash Used In Investing Activities
0,2023,astrallimited,4373.10,247.70,-15.90,-15.90,556.90,2711.20,2249.20,682.10,0.00,1333.70,31.60,45.70,618.50,40.00,26.70,26.70,556.90,-479.70

TOTAL SHAREHOLDERS FUNDS is Common Stock Equity
# Final_df_23["ROC"] = Final_df_23["EBIT"]/(total shareholder fund + long term borrowing + short term borrowing - Cash And Cash Equivalents)

ebit = PROFIT/LOSS BEFORE EXCEPTIONAL, EXTRAORDINARY ITEMS AND TAX	 + Finance Costs	- Other Income	

Capital Expenditure = Net CashFlow From Operating Activities - Net Cash Used In Investing Activities

In [86]:
# fin = pd.DataFrame()
fin = pd.DataFrame()

count = 0
for i in financial_fin["Stock"].unique():

    tab = operation(financial_fin, i,"2023")
#     tab = operation(financial_fin_selected, i)
    
#     tab_2 = tab[[ "Stock","Total Assets", "Minority Interest","Net CashFlow From Operating Activities", "Total Shareholders Funds","Total Current Assets","Cash And Cash Equivalents","Current Investments","Total Current Liabilities"
#                 ,"Long Term Borrowings","Short Term Borrowings","Cash And Cash Equivalents","Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax","Finance Costs","Other Income" ,"Net CashFlow From Operating Activities", "Net Cash Used In Investing Activities"]]
#                  ,"Capital Expenditure","EBIT","Net Tangible Assets","","Common Stock Equity"]]
#          ,"Capital Expenditure", "Market Cap","EBIT","Working Capital", "Net Tangible Assets","Common Stock Equity","Forward Dividend & Yield"]]
#     tab['Attribute'] = tab.index
#     tab2 = tab_2.reset_index(drop=True)
#     tab = tab.reset_index()
    fin = pd.concat([fin, tab], ignore_index=True)
#     fin.append(tab)
#     tab_2["Index_New"] = range(count , count + len(tab_2))
#     tab_2.set_index('Index_New', inplace=True)
#     fin = pd.concat([fin,tab2])
#     fin.append(tab_3)
#     fin = pd.concat([fin,tab_2])
#     count = count + len(tab_2)

#     fin.append(tab2)
# df_fin = fin.reset_index()

In [87]:
fin.head()

Attribute,Year,Stock,Total Assets,Minority Interest,Minority Interest,Minority Interest,Net CashFlow From Operating Activities,Total Shareholders Funds,Total Current Assets,Cash And Cash Equivalents,Current Investments,Total Current Liabilities,Long Term Borrowings,Short Term Borrowings,"Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax",Finance Costs,Other Income,Other Income,Net CashFlow From Operating Activities,Net Cash Used In Investing Activities
0,2023,astrallimited,4373.10,247.70,-15.90,-15.90,556.90,2711.20,2249.20,682.10,0.00,1333.70,31.60,45.70,618.50,40.00,26.70,26.70,556.90,-479.70
1,2023,aartiindustries,8580.90,0.72,0.00,--,1309.80,4920.06,2459.28,200.73,0.00,2783.34,634.71,2239.32,611.10,168.28,0.86,1.00,1309.80,-1329.78
2,2023,balrampurchinimills,5428.52,0.00,0.00,--,452.92,2895.58,2577.74,11.90,61.25,1964.43,428.75,1449.87,396.68,48.65,62.79,62.79,452.92,-858.75
3,2023,bhartiairtel,446633.20,28881.40,-3941.50,-3941.50,65324.60,90794.80,57501.30,13418.60,4704.50,121963.80,151568.60,13976.20,16478.40,19299.90,936.60,936.60,65324.60,-39080.20
4,2023,bharatheavyelectricals,59369.79,0.00,0.00,--,-741.52,26828.03,30082.28,6642.58,0.00,23351.45,0.00,5385.00,423.42,521.43,488.63,488.63,-741.52,1480.46

In [88]:
# fin.iloc[:,4]

In [89]:
fin.columns.values[3] = "Minority Interest Balance Sheet"
fin.columns.values[4] = "Minority Interest PnL"
fin.columns.values[5] = "Minority Interest IncS"

In [90]:
fin.columns.values[-4] = "PnL Other Income"
fin.columns.values[-3] = "IncSt Other Income"

In [91]:
fin.head(2)

Attribute,Year,Stock,Total Assets,Minority Interest Balance Sheet,Minority Interest PnL,Minority Interest IncS,Net CashFlow From Operating Activities,Total Shareholders Funds,Total Current Assets,Cash And Cash Equivalents,Current Investments,Total Current Liabilities,Long Term Borrowings,Short Term Borrowings,"Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax",Finance Costs,PnL Other Income,IncSt Other Income,Net CashFlow From Operating Activities,Net Cash Used In Investing Activities
0,2023,astrallimited,4373.10,247.70,-15.90,-15.90,556.90,2711.20,2249.20,682.10,0.00,1333.70,31.60,45.70,618.50,40.00,26.70,26.70,556.90,-479.70
1,2023,aartiindustries,8580.90,0.72,0.00,--,1309.80,4920.06,2459.28,200.73,0.00,2783.34,634.71,2239.32,611.10,168.28,0.86,1.00,1309.80,-1329.78

In [92]:
fin["Total Current Assets"] = fin["Total Current Assets"].astype("float")
fin["Cash And Cash Equivalents"] = fin["Cash And Cash Equivalents"].astype("float")
fin["Current Investments"] = fin["Current Investments"].astype("float")

fin["Total Current Liabilities"] = fin["Total Current Liabilities"].astype("float")
fin["Short Term Borrowings"] = fin["Short Term Borrowings"].astype("float")

fin["Total Shareholders Funds"] = fin["Total Shareholders Funds"].astype("float")

In [93]:
# fin[["Total Current Liabilities","Short Term Borrowings"]]

In [94]:
# fin[["Total Current Assets","Cash And Cash Equivalents", "Current Investments"]]

In [95]:
fin["Current Assets"] = fin["Total Current Assets"] - fin["Cash And Cash Equivalents"] - fin["Current Investments"]
fin["Current Liabilities"] = fin["Total Current Liabilities"] - fin["Short Term Borrowings"]
fin["Working Capital"] = fin["Current Assets"] - fin["Current Liabilities"]

In [96]:
# fin[["Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax","Finance Costs", "Other Income"]]

In [97]:
# fin

In [98]:
fin["EBIT"] = fin["Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax"].astype("float") + fin["Finance Costs"].astype("float") -  fin["PnL Other Income"].astype("float")

In [99]:
# fin["Total Shareholders Funds"]

In [100]:
fin["ROC"] = fin["EBIT"].astype("float") / (fin["Total Shareholders Funds"].astype("float") + fin["Short Term Borrowings"].astype("float") + fin["Long Term Borrowings"].astype("float") - fin["Cash And Cash Equivalents"].astype("float")  )

In [101]:
gen_stock

     Unnamed: 0                 Value         Num          Stock
0             0                  Open      1942.0  astrallimited
1             1        Previous Close     1954.05  astrallimited
2             2                Volume    780141.0  astrallimited
3             3          Value (Lacs)    14909.27  astrallimited
4             4               i  VWAP     1925.48  astrallimited
..          ...                   ...         ...            ...
479           1        Dividend Yield       42.98        vedanta
480           2        20D Avg Volume  10487195.0        vedanta
481           3   20D Avg Delivery(%)      130.36        vedanta
482           4             Sector PE        5.81        vedanta
483           5  Book Value Per Share      222.49        vedanta

[484 rows x 4 columns]

In [102]:
def gen_stock_flat(gen_stock,i):
#     for i in gen_stock["Stock"].unique():
    gen_stock_selected = gen_stock[gen_stock["Stock"] == i]
    gen_stock_selected = gen_stock_selected.drop(["Stock","Unnamed: 0"], axis = 1)
    gen_stock_selected_transpose = gen_stock_selected.T

    gen_stock_selected_transpose.columns = gen_stock_selected_transpose.iloc[0]
    gen_stock_selected_transpose = gen_stock_selected_transpose[1:]

    gen_stock_selected_transpose["Stock"] = i
    gen_stock_selected_transpose = gen_stock_selected_transpose.reset_index(drop= True)

    gen_stock_selected_transpose = gen_stock_selected_transpose[["Stock","Dividend Yield", "Mkt Cap (Rs. Cr.)"]]
#         print(gen_stock_selected_transpose.shape)

    return gen_stock_selected_transpose

In [103]:
gen_stock_flat(gen_stock,"astrallimited")

Value          Stock Dividend Yield Mkt Cap (Rs. Cr.)
0      astrallimited           0.18           51336.0

In [104]:
gen_fin = pd.DataFrame()

count = 0
for i in financial_fin["Stock"].unique():

    tab = gen_stock_flat(gen_stock, i)
#     print(tab)
#     gen_fin = gen_fin + tab
    gen_fin = pd.concat([gen_fin, tab], ignore_index=True)

In [105]:
gen_fin.shape

(22, 3)

In [106]:
fin.shape

(22, 25)

In [107]:
merged = gen_fin.merge(fin, on = ["Stock"])
merged.head()

,Stock,Dividend Yield,Mkt Cap (Rs. Cr.),Year,Total Assets,Minority Interest Balance Sheet,Minority Interest PnL,Minority Interest IncS,Net CashFlow From Operating Activities,Total Shareholders Funds,...,Finance Costs,PnL Other Income,IncSt Other Income,Net CashFlow From Operating Activities,Net Cash Used In Investing Activities,Current Assets,Current Liabilities,Working Capital,EBIT,ROC
0,astrallimited,0.18,51336.0,2023,4373.10,247.70,-15.90,-15.90,556.90,2711.20,...,40.00,26.70,26.70,556.90,-479.70,1567.10,1288.00,279.10,631.80,0.299943
1,aartiindustries,0.51,17801.0,2023,8580.90,0.72,0.00,--,1309.80,4920.06,...,168.28,0.86,1.00,1309.80,-1329.78,2258.55,544.02,1714.53,778.52,0.102526
2,balrampurchinimills,0.63,7979.0,2023,5428.52,0.00,0.00,--,452.92,2895.58,...,48.65,62.79,62.79,452.92,-858.75,2504.59,514.56,1990.03,382.54,0.080327
3,bhartiairtel,0.46,492788.0,2023,446633.20,28881.40,-3941.50,-3941.50,65324.60,90794.80,...,19299.90,936.60,936.60,65324.60,-39080.20,39378.20,107987.60,-68609.40,34841.70,0.143428
4,bharatheavyelectricals,0.29,47408.0,2023,59369.79,0.00,0.00,--,-741.52,26828.03,...,521.43,488.63,488.63,-741.52,1480.46,23439.70,17966.45,5473.25,456.22,0.017842

In [108]:
merged["BookToMkt"] = merged["Total Shareholders Funds"].astype("float") / merged["Mkt Cap (Rs. Cr.)"].astype("float")

In [109]:
merged.head()

,Stock,Dividend Yield,Mkt Cap (Rs. Cr.),Year,Total Assets,Minority Interest Balance Sheet,Minority Interest PnL,Minority Interest IncS,Net CashFlow From Operating Activities,Total Shareholders Funds,...,PnL Other Income,IncSt Other Income,Net CashFlow From Operating Activities,Net Cash Used In Investing Activities,Current Assets,Current Liabilities,Working Capital,EBIT,ROC,BookToMkt
0,astrallimited,0.18,51336.0,2023,4373.10,247.70,-15.90,-15.90,556.90,2711.20,...,26.70,26.70,556.90,-479.70,1567.10,1288.00,279.10,631.80,0.299943,0.052813
1,aartiindustries,0.51,17801.0,2023,8580.90,0.72,0.00,--,1309.80,4920.06,...,0.86,1.00,1309.80,-1329.78,2258.55,544.02,1714.53,778.52,0.102526,0.276392
2,balrampurchinimills,0.63,7979.0,2023,5428.52,0.00,0.00,--,452.92,2895.58,...,62.79,62.79,452.92,-858.75,2504.59,514.56,1990.03,382.54,0.080327,0.362900
3,bhartiairtel,0.46,492788.0,2023,446633.20,28881.40,-3941.50,-3941.50,65324.60,90794.80,...,936.60,936.60,65324.60,-39080.20,39378.20,107987.60,-68609.40,34841.70,0.143428,0.184247
4,bharatheavyelectricals,0.29,47408.0,2023,59369.79,0.00,0.00,--,-741.52,26828.03,...,488.63,488.63,-741.52,1480.46,23439.70,17966.45,5473.25,456.22,0.017842,0.565897

If Prefered Stock value is available:

    Final_df_23["TEV"] =  Final_df_23["Market Cap"].fillna(0) 
    +Final_df_23["Net Debt"].fillna(0) 
    +Final_df_23["PrefStock"].fillna(0) 
    +Final_df_23["MinInterest"].fillna(0) 
else:
    Final_df_23["TEV"] =  Final_df_23["Market Cap"].fillna(0) 
    +Final_df_23["Net Debt"].fillna(0) 
    +Final_df_23["MinInterest"].fillna(0)

In [110]:
merged["Net Debt"] = fin["Long Term Borrowings"].astype("float") - fin["Cash And Cash Equivalents"].astype("float")

In [113]:
merged["TEV"] = merged["Mkt Cap (Rs. Cr.)"].astype("float")+merged["Net Debt"].astype("float")+merged["Minority Interest Balance Sheet"].astype("float")

In [114]:
merged["EarningYield"] =  merged["EBIT"]/merged["TEV"]

In [120]:
merged["Rank EarningYield"]  = merged["EarningYield"].rank(ascending=False,na_option='bottom')
merged["Rank ROC"]  = merged["ROC"].rank(ascending=False,na_option='bottom')

In [121]:
merged["CombRank"] = merged["Rank EarningYield"] + merged["Rank ROC"]
merged["MagicFormulaRank"] = merged["CombRank"].rank(method='first')

In [116]:
merged.sort_values("MagicFormulaRank")["Stock"]

18                                 nmdc
12              hindustanaeronauticsltd
21                              vedanta
5                   britanniaindustries
7           chambalfertiliserschemicals
3                          bhartiairtel
6                             birlasoft
9     cromptongreavesconsumerelectrical
15                    ltfinanceholdings
0                         astrallimited
13                         havellsindia
1                       aartiindustries
2                   balrampurchinimills
16                    marutisuzukiindia
17                 maxfinancialservices
10                        escortskubota
20                                trent
19                   piramalenterprises
11            gmrairportsinfrastructure
4                bharatheavyelectricals
8                 colgatepalmoliveindia
14             hdfclifeinsurancecompany
Name: Stock, dtype: object

In [122]:
merged.sort_values("Rank EarningYield")["Stock"]

18                                 nmdc
21                              vedanta
15                    ltfinanceholdings
7           chambalfertiliserschemicals
3                          bhartiairtel
2                   balrampurchinimills
12              hindustanaeronauticsltd
1                       aartiindustries
9     cromptongreavesconsumerelectrical
6                             birlasoft
19                   piramalenterprises
16                    marutisuzukiindia
5                   britanniaindustries
10                        escortskubota
17                 maxfinancialservices
13                         havellsindia
0                         astrallimited
4                bharatheavyelectricals
11            gmrairportsinfrastructure
8                 colgatepalmoliveindia
20                                trent
14             hdfclifeinsurancecompany
Name: Stock, dtype: object

In [123]:
merged.sort_values("Rank ROC")["Stock"]

12              hindustanaeronauticsltd
5                   britanniaindustries
18                                 nmdc
0                         astrallimited
13                         havellsindia
21                              vedanta
6                             birlasoft
20                                trent
9     cromptongreavesconsumerelectrical
17                 maxfinancialservices
7           chambalfertiliserschemicals
3                          bhartiairtel
16                    marutisuzukiindia
1                       aartiindustries
10                        escortskubota
15                    ltfinanceholdings
2                   balrampurchinimills
11            gmrairportsinfrastructure
19                   piramalenterprises
4                bharatheavyelectricals
14             hdfclifeinsurancecompany
8                 colgatepalmoliveindia
Name: Stock, dtype: object

In [ ]:
remove: piramalenterprises, hdfclifeinsurancecompany, ltfinanceholdings, maxfinancialservices

In [119]:
merged["CombRank"] = merged["EarningYield"].rank(ascending=False,method='first') \
                              +merged["ROC"].rank(ascending=False,method='first')  \
                              +merged["Dividend Yield"].rank(ascending=False,method='first') 
merged["CombinedRank"] = merged["CombRank"].rank(method='first')
value_high_div_stocks = merged.sort_values("CombinedRank")
print("------------------------------------------------")
print("Magic Formula and Dividend Yield combined")
print(value_high_div_stocks["Stock"])

------------------------------------------------
Magic Formula and Dividend Yield combined
18                                 nmdc
21                              vedanta
12              hindustanaeronauticsltd
7           chambalfertiliserschemicals
5                   britanniaindustries
15                    ltfinanceholdings
9     cromptongreavesconsumerelectrical
6                             birlasoft
3                          bhartiairtel
19                   piramalenterprises
13                         havellsindia
2                   balrampurchinimills
16                    marutisuzukiindia
1                       aartiindustries
0                         astrallimited
8                 colgatepalmoliveindia
10                        escortskubota
17                 maxfinancialservices
20                                trent
4                bharatheavyelectricals
11            gmrairportsinfrastructure
14             hdfclifeinsurancecompany
Name: Stock, dtype: object